<div class="container d-flex justify-content-center mt-5">
    <div class="card shadow-lg p-4" style="max-width: 500px; width: 100%;">
      <div class="card-body text-center">
        <h5 class="card-title text-muted mb-3 fs-5">Bike Details</h5>
        <h2 class="card-title text-primary fw-bold">{{ booomm.id }}. {{ booomm.name }}</h2>
        <hr>
        <p class="card-text fs-5"><strong>Brand:</strong> {{ booomm.brand }}</p>
        <p class="card-text fs-5"><strong>Price:</strong> ₹{{ booomm.price }}</p>
        <p class="card-text fs-5"><strong>Type:</strong> {{ booomm.type }}</p>
      </div>
    </div>
  </div>
  